@using QueryFuzzingWebApp.Database.Models;
@{
    ViewData["Title"] = "Show Fuzzing Status";
}
@model QueryFuzzResultModel

<div class="text-center">
    <h1 class="display-4">QueryFuzzing</h1>
    <p>Status of Fuzzing Projekt @Model.Project.Name</p>
    <p>FuzzingTime: @Model.FuzzingResult.Status.last_update.Subtract(Model.FuzzingResult.Status.start_time)</p>
</div>
<div>
<h4>Crashed Targets</h4>
    @foreach (var crash in Model.FuzzingResult.Crashes.OrderByDescending(c => c.CrashedTargets.Count).ThenBy(c => c.CrashTime))
    {
        <div class="row">
            <div class="col-5">
                <div class="row">
                    <div class="col-4">
                        Crashed after:
                    </div>
                    <div class="col-8">@crash.CrashTime</div>
                </div>
                <div class="row">
                    <div class="col-4">
                        Errormessage:
                    </div>
                    <div class="col-8">@crash.Description</div>
                </div>
                <div class="row">
                    <div class="col-4">
                        Stacktrace:
                    </div>
                    <div class="col-8">@foreach(var trace in crash.Stacktrace)
                    {
                            if(crash.CrashedTargets.Any(c => c.Methodname == trace.Method && c.Line == trace.LineNumber && c.File == trace.ClassName)){
                                    <p class="bg-success">@($"{trace.ClassName}:{trace.Method}:{trace.LineNumber}")</p>
                            }
                            else if (crash.CrashedTargets.Any(c => c.Methodname == trace.Method && c.File == trace.ClassName))
                            {
                                <p class="bg-warning">@($"{trace.ClassName}:{trace.Method}:{trace.LineNumber}")</p>
                            } else
                            {
                                <p>@($"{trace.ClassName}:{trace.Method}:{trace.LineNumber}")</p>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-7">
                @if (crash.CrashedTargets.Any())
                {
                    <h5>Involded Targets</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">File</th>
                                <th scope="col">Line</th>
                                <th scope="col">Description</th>
                                <th scope="col">Match Accuracy</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var crashedTarget in crash.CrashedTargets)
                            {
                                <tr>
                                    <td>@crashedTarget.File</td>
                                    <td>@crashedTarget.Line</td>
                                    <td>@crashedTarget.QueryDescription</td>
                                    <td>@(
                            crashedTarget.MatchAccuracy == QueryFuzzing.Models.MatchAccuracy.Line ? "Matched Line" : "Matched Method"
                            )</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }else
                {
                    <h5>No Query Targets</h5>

                }
            </div>
        </div>
        <hr class="solid">
}
</div>

<h4>False Positives - Matching Query but no Crash</h4>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">File</th>
                <th scope="col">Line</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var falsePositive in Model.FuzzingResult.FalsePositives)
            {
                <tr>
                    <td>@falsePositive.File</td>
                    <td>@falsePositive.Line</td>
                    <td>@falsePositive.QueryDescription</td>
                </tr>
            }
        </tbody>
    </table>
</div>
