@using QueryFuzzingWebApp.Database.Models;
@{
    ViewData["Title"] = "Targets";
}
@model Project


<div class="text-center">
    <h1 class="display-4">Project</h1>
    <div class="row">
    <div class="col-3"></div>
    <div class="col-6 text-start">
        <p>Name: @Model.Name</p>
        <p>Path: @Model.Path</p>
        <p>Language: @Model.Language</p>
        <p>Tag: @Model.Tag</p>
        <p>Created on: @Model.CreatedDate.ToString("dd.MM.yyyy HH:mm:ss")</p>
        <p>Querytime: @Model.QueryTime.ToString(@"hh\:mm\:ss")</p>
    </div>
    <div class="col-3"></div>
    </div>
</div>
<a href="CreateFuzzingInstance?projectId=@Model.Id" role="button" class="btn btn-primary">Create Instance</a>
<div class="text-center">
    <h2 class="display-4">Targets</h2>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Filename</th>
      <th scope="col">Line</th>
    </tr>
  </thead>
  <tbody>
            @foreach (var t in Model.Targets.OrderBy(t => t.File).ThenBy(t => t.Line))
            {
      <tr>
        <td>@t.File</td>
        <td>@t.Line</td>     
      </tr>
    }
        </tbody>
    </table>
</div>